/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #ffffff;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


nav {
    display: none;
}

/*FLOAT ADDITIONAL*/
.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
  }

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo{
    margin: 60px 60px;
    display: flex;
}

.leaf{
    height: 32px;
}

.logo h1{
    line-height: 40px;
    font-size: 40px;
    color: #62a970;
    font-weight: bolder;
}

.logo a{
    font-size: 20px;
    line-height: 32px;
    margin-right: 10px;
    color: inherit;
}

.sign-in{
    font-size: 16px;
    margin: 60px 60px;
    line-height: 40px;
}

.daftar{
    display: flex;
    justify-content: space-between;
}

.loginwallpaper{
    width: 500px;
    margin: 40px 60px;
}

.box-right{
    margin: 40px 55px 40px 60px;
}

.box-right .welcome{
    font-size: 30px;
    letter-spacing: 2px;
    padding-bottom: 6px;
    font-weight: bold;
}

.description{
    color: grey;
    padding-bottom: 40px;
    font-size: 16px;
}

input{
    padding-left: 5px;
    font-size: 18px;
}

#nama,#email,#password{
    border: 1px solid black;
    width: 470px;
    height: 50px;
    margin-bottom: 30px;
}

#email:hover{
    border: 1px solid green;
}

#password:hover{
    border: 1px solid green;
}

#help{
    font-size: 16px;
    margin-top: -10px;
}

.btn{
    display: flex;
    margin: 60px 0;
}

.cta {
    margin-top: -16px;
    margin-right: 50px;
	box-shadow: 0px 2px 0px 0px rgb(55, 139, 22);
	background-color:#54c424;
	border-radius:28px;
	border:1px solid #54c424;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size: 20px;
	padding:16px 70px;
	text-decoration:none;
	text-shadow:0px 1px 0px #28a522;
}
.cta:hover {
	background-color:#56bb2f;
}
.cta:active {
	position:relative;
	top:1px;
    box-shadow: none;
}

.forget{
    font-size: 14px;
    color: grey;
}

.alternatif{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.alternatif p{
    font-size: 16px;
    color: grey;
}

.alternatif a{
    color: inherit;
    font-size: 26px;
    margin: 0 20px;
}

@media only screen and (max-width: 600px) {
    .loginwallpaper{
        display: none;
    }
    
    .logo{
        margin: 20px
    }

    .logo a{
        font-size: 16px;
    }

    .logo h1{
        font-size: 32px;
    }

    .sign-in{
        font-size: 12px;
        margin: 20px;
    }

    input{
        padding-left: 5px;
        font-size: 16px;
    }


    .daftar{
        width: 100%;
        justify-content: center;
    }

}