/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
	height: 100%;
    line-height: 1;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #b9efd5;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


nav {
    display: none;
}

/*FLOAT ADDITIONAL*/
.cf:before, .cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background:  #b9efd5;
    height: 60px;
}

.logo{
    display: flex;
    padding-top: 20px;
}

#akun{
  letter-spacing: 2px;
  padding-right: 10px;
}

#akun-responsive{
  display: none;
}

.logo h1{
  line-height: 40px;
  font-size: 40px;
  color: #62a970;
  font-weight: bolder;
}

.leaf{
  height: 40px;
}

.rightside{
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 24px;
  color: #3e3f40;
  font-size: 18px;
}

.search{
  padding-right: 10px;
}

.rightside a{
  color: #114f36;
}

.login{
  padding-left: 8px;
}


.dropdownakun {
    margin-right: 30px;
  }
  
  .dropdownakun .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: inherit;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdownakun:hover .dropbtn {
    background-color: #f9f9f9;
  }
  
  .dropdown-main {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-main a {
    padding: 200px 0;
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
    text-align: left;
  }
  
  .dropdown-main a:hover {
    background-color: #ddd;
  }
  
  .dropdownakun:hover .dropdown-main {
    display: block;
  }


.responsive-menu{
  color: #3e3f40;
  margin-left: 70px;
  margin-top: 8px;
}

.menu{
  visibility: hidden;

}

.resp-title{
  font-size: 24px;
  padding-left: 40px;
}

#menu_toggle {
  opacity: 0;
}

#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu_toggle:checked ~ .list-menu {
  visibility: visible;
  right: 0;
}

.menu_btn {
  display: flex;
  align-items: center;
  position: sticky;
  top: 20px;
  left: 50px;
  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 2;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #114f36;

  transition-duration: .25s;
}
.menu_btn > span::before {
  content: '';
  top: -8px;
  z-index: -1;
}
.menu_btn > span::after {
  content: '';
  top: 8px;
  z-index: -1;
}

.list-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #b9efd5;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .25s;
  z-index: 1;
}

.item-menu {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  margin: auto 0;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.item-menu:hover {
  background-color: white;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    text-align: center;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}


main {
	display: table;
	width: 100%;
	height: 100%;
    background-color: #b9efd5;
    
}

sidebar {
	display: table-cell;
	width: 15%;
    padding-left: 60px;
	vertical-align: top;
}

sidebar a {
    display: block;
	padding: 10px;
	color: black;
	margin: 15px 0 0 0;
	text-decoration: none;
    height: 100%;
}

sidebar a:active, sidebar a:focus, sidebar a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: black;
}

sidebar a.highlight {
	background-color: rgba(255, 255, 255, 0.788);
}

.content {
	display: table-cell;
	width: 85%;
	vertical-align: top;
    display: 5px solid black;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    background: rgb(128, 128, 128, 0.3);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    
  }
  
  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    backdrop-filter:blur(50px);
  }

  .item1{
    grid-row: 1;
    grid-column: 1/5;    
  }

  .item1 h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
 

  
  button[id='kirim'] {
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
  }
  
  textarea[id='isikeluhan'] {
    width: 95%;
    min-height: 300px;
    font-size: 18px;
  }



  
@media only screen and (max-width: 600px) {
    .resp-title{
      visibility: hidden;
    }
  
  .responsive-menu{
      visibility: visible;
   }
  
  #menu_toggle {
      opacity: 0;
    }
    
    #menu_toggle:checked ~ .menu_btn > span {
      transform: rotate(45deg);
    }
    #menu_toggle:checked ~ .menu_btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu_toggle:checked ~ .menu_btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu_toggle:checked ~ .list-menu {
      visibility: visible;
      right: 0;
    }
    
    .menu_btn {
      display: flex;
      align-items: center;
      position: sticky;
      top: 20px;
      right: 20px;
    
      width: 26px;
      height: 26px;
    
      cursor: pointer;
      z-index: 2;
    }
    
    .menu_btn > span,
    .menu_btn > span::before,
    .menu_btn > span::after {
      display: block;
      position: absolute;
    
      width: 100%;
      height: 2px;
    
      background-color: black;
    
      transition-duration: .25s;
    }
    .menu_btn > span::before {
      content: '';
      top: -8px;
    }
    .menu_btn > span::after {
      content: '';
      top: 8px;
    }
    
    .list-menu {
      display: flex;
      flex-direction: column;
      position: fixed;
      visibility: hidden;
      top: 0;
      right: -100%;
    
      width: 100%;
      height: 100%;
    
      margin: 0;
      padding: 80px 0;
    
      list-style: none;
    
      background-color: #b9efd5;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
      transition-duration: .25s;
    }
    
    .item-menu {
      display: flex;
      justify-content: center;
      padding: 12px 24px;
    
      color: black;
    
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
    
      text-decoration: none;
    
      transition-duration: .25s;
    }
    .item-menu:hover {
      background-color: white;
      
    }
  
    #akun{
      display: none;
    }
  
    #akun-responsive{
      padding-right: 10px;
      display: inline-block;
    }
   }